*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  background-color: #1f2937;
}

.logo {
  width: 150px;
  height: 81px;
  border-radius: 5%;
  margin-left: 200px;
  margin-top: 10px;
  margin-right: auto;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  margin-right: 200px;
  gap: 20px;
}

li a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  background-color: #1f2937;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 60px;

}

.hero-txt {
  flex: 1;
  margin-left: 200px;
}

.hero-img {
  flex: 1;  
  width: 400px;
  height: 232px;
  margin-right: 200px;
  border-radius: 5px;
  margin-left: 40px;
}

h1 {
  display: flex;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.content {
  background-color: #1f2937;
}

.main-txt {
  font-size: 18px;
  color: #e5e7eb;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 30px;
  margin-top: 12px;
  border-radius: 10px;
}