*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  background-color: #1f2937;
}

.logo {
  width: 150px;
  height: 81px;
  border-radius: 5%;
  margin-left: 200px;
  margin-top: 10px;
  margin-right: auto;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  margin-right: 200px;
  gap: 20px;
}

li a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  background-color: #1f2937;
  gap: 20px;
  padding-top: 80px;
  padding-bottom: 120px;
}

.hero-txt {
  flex: 1;
  margin-left: 200px;  
}

.hero-img {
  flex: 1;
  width: 400px;
  height: 232px;
  margin-right: 200px;
  border-radius: 5px;
  margin-left: 40px;
}

h1 {
  display: flex;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.content {
  background-color: #1f2937;
}

.secondary-txt {
  font-size: 18px;
  color: #e5e7eb;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 30px;
  margin-top: 12px;
  border-radius: 5px;
  border: 0;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info {
  display: flex;
  text-align: center;
  padding: 40px
}

.info-header {
  flex: 1;
}

.info-imgs  {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-one {
  width: 165px;
  height: 165px;
  border-radius: 10%;
  border: 3px solid blue;
}

.info-two {
  width: 165px;
  height: 165px;
  border-radius: 10%;
  border: 3px solid blue;
}

.info-three {
  width: 165px;
  height: 165px;
  border-radius: 10%;
  border: 3px solid blue;
}

.info-four {
  width: 165px;
  height: 165px;
  border-radius: 10%;
  border: 3px solid blue;
}
