.header {
  display: flex;
}

.logo {
  width: 150px;
  height: 81px;
  border-radius: 5%;
  margin-left: 200px;
  margin-top: 10px;
  margin-right: auto;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  margin-right: 200px;
  gap: 20px;
}
